* {
    padding: 0;
    margin: 0;
}

.cont {
    padding-top: 60px;
}

textarea {
    outline: none;
    resize: none;
}

.addFriend {
    position: absolute;
    top: 36px;
    right: 15px;
    padding: 3px;
}

.subject {
    /* border: 1px solid black; */
    padding-top: 50px;
}

.optFileBtn {
    height: 74px;
    line-height: 64px;
}

.box-img {
    margin-top: 10px;
    max-height: 400px;
    overflow: hidden;
}

.box-img img {
    max-width: 100%;
    max-height: 380px;
    margin: 0 2px;
    display: inline-block;
}

.panel-footer img {
    margin: 0;
}

.marginTop20 {
    margin-top: 20px;
}

.marginBottom50 {
    margin-bottom: 50px;
}

.panel-body {
    padding-left: 30px;
    padding-right: 30px;
}

.addFriend-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
}

.addFriend-box_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.addFriend-box_cont {
    width: 70%;
    margin: 100px auto;
}

.fade {
    z-index: 0;
}

.p_body {
    position: relative;
    padding-right: 40px;
}

.p_fabulous {
    position: absolute;
    top: 20px;
    right: 10px;
}

.p_fabulous-active {
    color: #337ab7;
}

@media screen and (max-width: 767px) {
    .subject {
        padding-top: 20px;
    }
    .addFriend-box_cont {
        width: 90%;
    }
}

[v-cloak] {
    display: none;
}