* {
    padding: 0;
    margin: 0;
}

.cont {
    padding-top: 60px;
}

.addFriend {
    position: absolute;
    top: 36px;
    right: 15px;
    padding: 3px;
}


.addFriend-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
}

.addFriend-box_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.addFriend-box_cont {
    width: 70%;
    margin: 100px auto;
}

@media screen and (max-width: 767px) {
    .subject {
        padding-top: 20px;
    }
    .addFriend-box_cont {
        width: 90%;
    }
}

[v-cloak] {
    display: none;
}